navigation-main.snippet {
  .navigation-main {
    height: 7.25rem;
    padding: 3rem 0;
    position: relative;

    &__nav {
      height: 1.25rem;
      margin: 0 auto;
      text-align: center;
      width: 0.75rem;
    }

    &__trigger {
      background: transparent;
      border-radius: 0;
      display: block;
      padding: 0;

      &:focus {
        outline: 0;
      }

      &:hover {
        background: transparent;
      }

      svg {
        display: block;
        overflow: visible;
      }
    }

    &__menu {
      background: var(--c-bg);
      height: 100%;
      left: 0;
      opacity: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -22;

      @media (max-width: $breakpoint-xs) {
        padding-top: 116px;
      }

      &[aria-hidden='true'] {
        display: none;
      }

      &[aria-hidden='false'] {
        display: block;
        opacity: 1;
      }

      @at-root .app_menu {
        overflow-y: hidden;
      }
    }
  }

  .list {
    &_menu {
      @include grid-scale(1, center, 0, 0);
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;

      @media (min-width: $breakpoint-xs) {
        @include grid-scale(2, center, 0, 0);
      }
    }

    .link {
      $block: 'link';
      align-items: center;
      background-color: var(--c-bg);
      color: var(--c-white);
      display: flex;
      font-family: 'Alpha', Helvetica, Arial, sans-serif;

      font-size: 2.75rem;
      font-weight: 600;
      height: 100%;
      letter-spacing: -2px;
      line-height: 1.025;
      text-decoration: none;
      width: 100%;

      @media (min-width: $breakpoint-xs) {
        @include rwd-scale('font-size', 2.75rem, 8rem, 480px, 1400px);
      }

      &__text {
        display: block;
        margin: 0 auto;
      }

      &:focus,
      &:hover {
        background-color: var(--c-white);
        outline: 0;

        .#{$block}__text {
          color: var(--c-nav-link);
        }
      }
    }
  }
}
