[is='navigation-main'] {
  .navigation-main {
    height: 7.25rem;
    padding: 3rem 0;
    position: relative;

    &__nav {
      height: 1.25rem;
      margin: 0 auto;
      text-align: center;
      width: 0.75rem;
    }

    &__trigger {
      background: transparent;
      border-radius: 0;
      display: block;
      padding: 0;

      &:focus {
        outline: 0;
      }

      &:hover {
        background: transparent;
      }

      svg {
        display: block;
        overflow: visible;
      }
    }

    &__menu {
      background: $c-nav-bg;
      height: 100%;
      left: 0;
      opacity: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -22;

      &[aria-hidden='true'] {
        display: none;
      }

      &[aria-hidden='false'] {
        display: block;
        opacity: 1;
      }

      @at-root .app--menu {
        overflow-y: hidden;
      }
    }
  }

  .list {
    &--menu {
      @include grid-scale(2, center, 0, 0);
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .link {
      $block: 'link';

      @include rwd-scale('font-size', 1.5rem, 9rem, 320px, 1400px);
      align-items: center;
      background-color: $c-bg;
      color: $c-white;
      display: flex;
      font-family: 'Alpha', Helvetica, Arial, sans-serif;
      font-weight: 600;
      height: 100%;
      letter-spacing: -2px;
      line-height: 1.025;
      text-decoration: none;
      width: 100%;

      &__text {
        display: block;
        margin: 0 auto;
      }

      &:focus,
      &:hover {
        background-color: $c-white;
        outline: 0;

        .#{$block}__text {
          color: $c-nav-link;
        }
      }
    }
  }
}
