/*  General
    =================================================== */

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/larsseit-webfont.woff2') format('woff2'),
       url('../assets/fonts/larsseit-webfont.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/larsseit-bold-webfont.woff2') format('woff2'),
       url('../assets/fonts/larsseit-bold-webfont.woff') format('woff');
  font-weight: bold;
}

html {
    background-color: #1F1F1F;
}

/*  Typo
    =================================================== */

html {
    font-size: 1.375em; /* 22px */
    line-height: 1.6363636364em; /* 36px */
}
body {
    font-family: 'Larsseit', Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #3B3B3B;
}
h1, h2, h3, h4 {
    font-family: 'Larsseit';
    font-weight: 600;
    font-style: inherit;
    color: #2B2B2B;
    padding: 0.81818181818182rem 0; /* 18px */
    margin: 0;
}
h1 {
    font-size: 4.236em;
    line-height: 4.90909090909091rem; /* 108px */
    font-weight: bold;
    letter-spacing: -8px;
    text-transform: uppercase;
    padding-top: 1.6363636364rem; /* 36px */
}
h2 {
    font-size: 2.618em;
    line-height: 3.2727272727rem; /* 72px */
    letter-spacing: -3px;
}
h3 {
    font-size: 1.618em;
    line-height: 1.6363636364rem; /* 36px */
    letter-spacing: -2px;
}
h4, h5 {
    letter-spacing: -1px;
}
p, pre, table, blockquote {
    padding: 0.81818181818182rem 0; /* 18px */
    margin: 0;
}
ul, ol {
    list-style-position: outside;
    padding: 0 18px;
    margin: 0;
}
ul ul, ol ol, ul ol, ol ul {
    margin: 0;
}
ul li {
    padding-left: 6px;
}
hr {
    border: 1px solid;
    margin: -1px 0;
}
b, strong, em, small, code {
    line-height: 1;
}
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
a {
    color: #268ED9;
}

/*  Icons
    =================================================== */

.ico {

    fill: currentColor;
    vertical-align: 6px;
}

.ico-menu {

    color: #ffffff;
    height: 18px;
    width: 12px;
    cursor: pointer;
    padding: 16px 19px;
}

/*  Header
    =================================================== */

header {

  text-align: center;
  padding: 20px 0;
}

/*  Menu
    =================================================== */

nav {

  position: fixed;
  top: 85px;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #1F1F1F;
  opacity: 0;
  visibility: hidden;
  transform: scale(5);

  transition: all .5s cubic-bezier(0.82, 0.06, 0.35, 1.01);
}

header .ico-menu path {

  transition: transform .4s .35s cubic-bezier(0.21, 0, 0.08, 0.99);
}

header.is-active .ico-menu .one {

  transform: translateY(8px);
}

header.is-active .ico-menu .three {

  transform: translateY(-8px);
}

header.is-active nav {

  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

nav ul {

  list-style: none;
  width: 100%;
  text-align: center;
}

nav ul a {

  font-family: 'Larsseit';
  font-size: 6.854em;
  line-height: 6.5454545455rem; /* 144px */
  font-weight: 900;
  letter-spacing: -8px;
  color: #2B2B2B;
  text-align: center;
  text-decoration: none;
  color: #3B3B3B;
  display: block;
  position: relative;
}

@keyframes distort-one {
  0% {
    clip: rect(128px, 1024px, 33px, 0);
  }
  3.33333% {
    clip: rect(53px, 1024px, 49px, 0);
  }
  6.66667% {
    clip: rect(14px, 1024px, 71px, 0);
  }
  10% {
    clip: rect(95px, 1024px, 28px, 0);
  }
  13.33333% {
    clip: rect(112px, 1024px, 31px, 0);
  }
  16.66667% {
    clip: rect(102px, 1024px, 34px, 0);
  }
  20% {
    clip: rect(124px, 1024px, 14px, 0);
  }
  23.33333% {
    clip: rect(61px, 1024px, 61px, 0);
  }
  26.66667% {
    clip: rect(144px, 1024px, 102px, 0);
  }
  30% {
    clip: rect(3px, 1024px, 106px, 0);
  }
  33.33333% {
    clip: rect(140px, 1024px, 5px, 0);
  }
  36.66667% {
    clip: rect(48px, 1024px, 36px, 0);
  }
  40% {
    clip: rect(45px, 1024px, 53px, 0);
  }
  43.33333% {
    clip: rect(80px, 1024px, 68px, 0);
  }
  46.66667% {
    clip: rect(30px, 1024px, 18px, 0);
  }
  50% {
    clip: rect(42px, 1024px, 50px, 0);
  }
  53.33333% {
    clip: rect(16px, 1024px, 32px, 0);
  }
  56.66667% {
    clip: rect(48px, 1024px, 137px, 0);
  }
  60% {
    clip: rect(65px, 1024px, 87px, 0);
  }
  63.33333% {
    clip: rect(102px, 1024px, 106px, 0);
  }
  66.66667% {
    clip: rect(121px, 1024px, 31px, 0);
  }
  70% {
    clip: rect(112px, 1024px, 107px, 0);
  }
  73.33333% {
    clip: rect(76px, 1024px, 7px, 0);
  }
  76.66667% {
    clip: rect(28px, 1024px, 130px, 0);
  }
  80% {
    clip: rect(77px, 1024px, 103px, 0);
  }
  83.33333% {
    clip: rect(30px, 1024px, 3px, 0);
  }
  86.66667% {
    clip: rect(116px, 1024px, 129px, 0);
  }
  90% {
    clip: rect(35px, 1024px, 10px, 0);
  }
  93.33333% {
    clip: rect(87px, 1024px, 107px, 0);
  }
  96.66667% {
    clip: rect(107px, 1024px, 100px, 0);
  }
  100% {
    clip: rect(150px, 1024px, 123px, 0);
  }
}

@keyframes distort-two {
  0% {
    clip: rect(10px, 1024px, 19px, 0);
  }
  3.33333% {
    clip: rect(103px, 1024px, 136px, 0);
  }
  6.66667% {
    clip: rect(53px, 1024px, 14px, 0);
  }
  10% {
    clip: rect(39px, 1024px, 47px, 0);
  }
  13.33333% {
    clip: rect(46px, 1024px, 79px, 0);
  }
  16.66667% {
    clip: rect(53px, 1024px, 124px, 0);
  }
  20% {
    clip: rect(7px, 1024px, 4px, 0);
  }
  23.33333% {
    clip: rect(22px, 1024px, 46px, 0);
  }
  26.66667% {
    clip: rect(122px, 1024px, 146px, 0);
  }
  30% {
    clip: rect(16px, 1024px, 98px, 0);
  }
  33.33333% {
    clip: rect(48px, 1024px, 24px, 0);
  }
  36.66667% {
    clip: rect(88px, 1024px, 59px, 0);
  }
  40% {
    clip: rect(37px, 1024px, 85px, 0);
  }
  43.33333% {
    clip: rect(99px, 1024px, 30px, 0);
  }
  46.66667% {
    clip: rect(4px, 1024px, 106px, 0);
  }
  50% {
    clip: rect(79px, 1024px, 134px, 0);
  }
  53.33333% {
    clip: rect(130px, 1024px, 21px, 0);
  }
  56.66667% {
    clip: rect(49px, 1024px, 15px, 0);
  }
  60% {
    clip: rect(27px, 1024px, 23px, 0);
  }
  63.33333% {
    clip: rect(82px, 1024px, 142px, 0);
  }
  66.66667% {
    clip: rect(69px, 1024px, 142px, 0);
  }
  70% {
    clip: rect(106px, 1024px, 14px, 0);
  }
  73.33333% {
    clip: rect(77px, 1024px, 26px, 0);
  }
  76.66667% {
    clip: rect(12px, 1024px, 150px, 0);
  }
  80% {
    clip: rect(112px, 1024px, 35px, 0);
  }
  83.33333% {
    clip: rect(97px, 1024px, 32px, 0);
  }
  86.66667% {
    clip: rect(111px, 1024px, 50px, 0);
  }
  90% {
    clip: rect(139px, 1024px, 40px, 0);
  }
  93.33333% {
    clip: rect(108px, 1024px, 135px, 0);
  }
  96.66667% {
    clip: rect(147px, 1024px, 55px, 0);
  }
  100% {
    clip: rect(138px, 1024px, 30px, 0);
  }
}

.distort:hover:before, .distort:hover:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #1F1F1F;
  clip: rect(0, 0, 0, 0);
}

.distort:hover:after {
  left: 2px;
  text-shadow: -1px 0 rgba(255, 0, 0, 0.25);
  animation: distort-one 2s infinite linear alternate-reverse;
}

.distort:hover:before {
  left: -3px;
  text-shadow: 3px 0 rgba(0, 0, 255, 0.25);
  animation: distort-one 3s infinite linear alternate-reverse;
}

/*  Pages - Home
    =================================================== */

#home {
    width: 100%;
}
#home h1 {
    font-size: 11.089em;
    line-height: 11.45454545454545rem;
    letter-spacing: -27px;
    text-align: center;
    margin-top: 25vh;
}

/*  Pages - About
    =================================================== */

#about {
    width: 700px;
    padding-bottom: 144px;
    margin: 0 auto;
}
#about h1 {
    text-transform: uppercase;
}

/*  Helper - Baseline Grid
    =================================================== */

.basegrid {
    background-image: linear-gradient(to bottom, hsla(359, 0%, 20%, 1) 1px, transparent 1px);
    background-position: left -1px;
    background-repeat: repeat;
    background-size: 18px 18px;
}
