$clr-light          :   #5C6063;
$clr-dark           :   #343638;

$clr-h-light        :   #5C6063;
$clr-h-dark         :   #343638;

$clr-p-dark         :   #343638;
$clr-p-light        :   #686D70;
$clr-p-lighter      :   #797E82;
