
/*  General
    =================================================== */

html {

    overflow-x: hidden;
    background-color: $c-bg;

    width: 100vw;
}
body {

    width: 100vw;
}
.row {

    max-width: 1200px;

    .columns {

        padding-top: 0;
        padding-bottom: 0;
    }
}
