
/*  Modular Scales
    =================================================== */

    $ms-base:  24px;
    $ms-ratio: $golden;
    $ms-range: null;
    $ms-fluid: true;

/*  Color
    =================================================== */

    $c-white        :   #FFF;

    $c-1            :   #C8CBD2;
    $c-2            :   #FBF88F;

    $c-bg           :   #C8CBD2;

    $c-headline     :   #FFF;
    $c-text         :   #18181A;
    $c-link         :   #FBF88F;
    $c-hover        :   #18181A;

    $c-nav-link     :   #C8CBD2;
    $c-nav-hover    :   #FBF88F;
    $c-nav-bg       :   #18181A;

    $c-btn-link     :   #18181A;
    $c-btn-hover    :   #FBF88F;

    $c-ico-link     :   #FFF;
    $c-ico-hover    :   #18181A;

    $c-bg-object    :   #FFF;
