html {

    font-size: ms(0);
    line-height: 40px;
}

body {

    font-family: 'Larsseit', Arial, sans-serif;
    font-weight: 100;
    font-style: normal;

    color: $clr-p-light;
}
h1, h2, h3, h4 {

    font-family: 'Larsseit';
    font-weight: 600;
    font-style: inherit;

    // color: $clr-h-dark;

    padding: 20px 0 40px 0;
    margin: 0;
}
h4, h5 {

    letter-spacing: -1px;

    padding: 20px 0 20px 0;
    margin: 0;
}
h1 {

    font-size: ms(1);
    line-height: 40px;

    font-weight: 900;
    letter-spacing: -1px;
    // text-align: center;

    padding: 0 0 160px 0;

    @media screen and (min-width: 400px) {

        font-size: ms(1);
        letter-spacing: -1px;
        line-height: 40px;
        // text-align: left;
    }
    @media screen and (min-width: 640px) {

        font-size: ms(2);
        letter-spacing: -3px;
        line-height: 70px;
    }
    @media screen and (min-width: 840px) {

        font-size: ms(3);
        letter-spacing: -6px;
        line-height: 100px;

    }
    @media screen and (min-width: 1200px) {

        font-size: ms(4);
        letter-spacing: -12px;
        line-height: 160px;
    }
}
h2 {

    font-size: ms(2);
    line-height: 60px;

    letter-spacing: -3px;
}
h3 {

    font-size: ms(1);
    line-height: 40px;

    letter-spacing: -2px;
}
ul, ol {

    list-style-position: outside;

    color: $clr-p-lighter;

    padding: 0 22px;
    margin: 0;
}
p {

    color: $clr-p-lighter;

    padding: 0 0 40px 0;
    margin: 0;
}
a {

    color: #268ED9;
}
