// Typography

$font-style: normal;
$font-variant: normal;
$font-weight: 100;
$font-color: #3B3B3B;
$font-size: 1.375em; // 22px
$line-height: 1.6363636364em; // 36px
$font-family: 'Larsseit', Arial, sans-serif;
