
/*  About Styles
    =================================================== */

#about main {

    padding-bottom: 200px;

    .title {

        position: relative;

        .line {

            margin: 0;
            position: absolute;
            top: 50%;
            right: 45px;
            width: 35px;
            height: 1px;
            background: #fff;
        }
    }
}
