
/*  About Styles
    =================================================== */

main {

    // padding-bottom: 200px;
}
section {

    padding-bottom: 100px;

    &:last-of-type {

        padding-bottom: 40px;
    }
}
.contact {

    background-color: white;

    padding-top: 40px;

    @media screen and (min-width: 768px) {

        padding-top: 40px;
    }
    @media screen and (min-width: 992px) {

        padding-top: 50px;
    }

    h2 {
        color: $c-3;
    }

    ::-webkit-input-placeholder {   /* Chrome/Opera/Safari */
        color: $c-nav-link;
    }
    ::-moz-placeholder {            /* Firefox 19+ */
        color: $c-nav-link;
    }
    :-ms-input-placeholder {        /* IE 10+ */
        color: $c-nav-link;
    }
    :-moz-placeholder {             /* Firefox 18- */
        color: $c-nav-link;
    }

    form {

        padding: 0px 0 20px 0;

        @media screen and (min-width: 768px) {

            padding: 20px 0 40px 0;

        }

        label {

            font-size: 20px;
            color: $c-2;

            padding: 0 0 20px 0;
        }
        input {

            font-size: 20px;
            background-color: $c-3;

            width: 100%;
            height: 60px;
            border-width: 0px;

            padding: 0 16px;

            &.btn {
                font-size: 16px;
                background-color: black;
                width: 120px;
                padding: 0;

                margin: 20px 0 40px;

                &:hover {

                    background-color: $c-btn-hover;
                }

            }
        }
        textarea {

            font-size: 20px;
            background-color: $c-3;

            width: 100%;
            border-width: 0px;

            padding: 16px 16px;
        }
    }
}
