
/*  General
    =================================================== */

#home  {

    .prjct-home {

        position: relative;
    }
    .prjct-title {

        position: absolute;
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);

        transform: rotate(270deg);

        span {

            font-size: 11px;
            line-height: 20px;
            letter-spacing: 1.5px;
            text-transform: uppercase;

            color: $c-white;

            display: block;

            @media screen and (min-width: 544px) {

                font-size: 10px;
            }

            @media screen and (min-width: 768px) {

                font-size: 11px;
            }
        }
    }

    .hero-teaser {

        position: relative;

        margin: 200px 0 80px 0;

        @media screen and (min-width: 768px) {

            margin: 240px 0 270px 0;
        }
        @media screen and (min-width: 992px) {

            margin: 480px 0 300px 0;
        }
        @media screen and (min-width: 1200px) {

            margin: 560px 0 300px 0;
        }
        h1 {

            position: absolute;
            top: -30px;
            left: 0;
            z-index: 666;

            padding: 0;

            text-transform: uppercase;

            @media screen and (min-width: 768px) {

                top: -40px;
                left: 15px;
            }
            @media screen and (min-width: 992px) {

                top: -200px;
                // left: 0;
            }
            @media screen and (min-width: 1200px) {

                top: -330px;
                // left: 0;

                line-height: 240px;
            }
        }
        .hero-teaser-link {

            position: relative;

            .prjct-title {

                position: absolute;

                bottom: -470px;
                right: -1160px;
            }
        }

        .prjct-hero-img {

            background-image: url('../assets/img/prjct-hero.jpg');
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;

            width: 100%;
            padding-bottom: 400px;

            @media screen and (min-width: 768px) {

                padding-bottom: 480px;
            }
            @media screen and (min-width: 992px) {

                float: right;
                width: 84%;

                padding-bottom: 560px;
            }
            @media screen and (min-width: 1200px) {


            }
        }
    }
    .home-content {

        .prjct-row-one, .prjct-row-two {

            &::after {
                content: "";
                display: table;
                clear: both;
            }
        }
        .prjct-row-one {

            margin-bottom: 0;

            @media screen and (min-width: 768px) {

                margin-bottom: 120px;
            }
            @media screen and (min-width: 992px) {

                margin-bottom: 240px;
            }
            @media screen and (min-width: 1200px) {

            }
        }
        .prjct-home {

            position: relative;
            margin-bottom: 30px;

            .prjct-link {

                position: absolute;
                width: 100%;
                height: 100%;

                .prjct-title-01 {

                    top: 58px;
                    right: -24px;

                    @media screen and (min-width: 544px) {

                        top: 50px;
                        right: -28px;
                    }
                    @media screen and (min-width: 768px) {

                        top: 58px;
                        right: -27px;
                    }
                    @media screen and (min-width: 992px) {

                        top: 58px;
                        right: -24px;
                    }

                }
                .prjct-title-02 {

                    bottom: 80px;
                    right: -48px;

                    @media screen and (min-width: 544px) {

                        bottom: 68px;
                        right: -52px;
                    }
                    @media screen and (min-width: 768px) {

                        bottom: 80px;
                        right: -53px;
                    }
                    @media screen and (min-width: 992px) {

                        bottom: 80px;
                        right: -48px;
                    }
                }
                .prjct-title-03 {

                    top: 65px;
                    left: -28px;

                    @media screen and (min-width: 544px) {

                        top: 52px;
                        left: -32px;
                    }
                    @media screen and (min-width: 768px) {

                        top: 65px;
                        left: -32px;
                    }
                    @media screen and (min-width: 992px) {

                        top: 65px;
                        left: -28px;
                    }
                }
                .prjct-title-04 {

                    bottom: 70px;
                    left: -32px;

                    @media screen and (min-width: 544px) {

                        bottom: 58px;
                        left: -38px;
                    }
                    @media screen and (min-width: 768px) {

                        bottom: 70px;
                        left: -35px;
                    }
                    @media screen and (min-width: 992px) {

                        bottom: 70px;
                        left: -32px;
                    }
                }
            }
        }
        .prjct-img-01, .prjct-img-02, .prjct-img-03, .prjct-img-04 {

            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;

            width: 100%;
            height: auto;

            padding-bottom: 84vw;
            @media screen and (min-width: 544px) {

                padding-bottom: 236px;
            }

            @media screen and (min-width: 768px) {

                padding-bottom: 304px;
            }
            @media screen and (min-width: 992px) {

                padding-bottom: 406px;
            }
            @media screen and (min-width: 1200px) {

                padding-bottom: 500px;
            }
        }
        .prjct-img-01 {

            background-image: url('../assets/img/prjct-home-1.jpg');

        }
        .prjct-img-02 {

            background-image: url('../assets/img/prjct-home-2.jpg');

        }
        .prjct-img-03 {

            background-image: url('../assets/img/prjct-home-3.jpg');

        }
        .prjct-img-04 {

            background-image: url('../assets/img/prjct-home-4.jpg');
        }
        .prjct-up {
            @media screen and (min-width: 768px) {

                margin-top: -120px;
            }
            @media screen and (min-width: 992px) {


            }
            @media screen and (min-width: 1200px) {


            }
        }
    }
    padding-bottom: 160px;

    @media screen and (min-width: 768px) {

        padding-bottom: 120px;
    }
    @media screen and (min-width: 992px) {

        padding-bottom: 260px
    }
    @media screen and (min-width: 1200px) {


    }
}
