
/*  General
    =================================================== */

.prjct .content {

    .prjct-img-full {

        margin: 0 -15px;
    }
    .prjct-img-hero {
        
        margin-bottom: 200px;
    }
    .prjct-info {

        padding: 60px 0 80px 0;

        @media screen and (min-width: 544px) {

            padding: 100px 0 160px 0;
        }
        @media screen and (min-width: 768px) {

            padding: 120px 0 200px 0;
        }
        @media screen and (min-width: 992px) {

            padding: 140px 0 180px 0;
        }
        .prjct-stats {

            list-style-type: none;

            padding-left: 10px;
            padding-right: 0;

            @media screen and (min-width: 544px) {

                padding-left: 20px;
            }
            @media screen and (min-width: 768px) {

                padding-left: 80px;
            }
            @media screen and (min-width: 992px) {

                padding-left: 160px;
            }
            @media screen and (min-width: 1200px) {

                padding-left: 700px;
            }
        }
    }
    .prjct-mobile-wrap {

        position: relative;
        width: 100%;

        svg {

            display: none;

            @media screen and (min-width: 768px) {

                display: block;
                margin: 0 auto;
            }
        }
        .prjct-bg-img {

            display: none;

            @media screen and (min-width: 768px) {

                display: block;

            }
        }
        .prjct-phone-img {

            width: 100%;
            max-width: 434px;
            margin: 0 auto;

            @media screen and (min-width: 768px) {

                width: 100%;
                margin-top: -580px;
            }
        }
        .prjct-mobile {

            margin-top: 80px;
            margin-bottom: 40px;

            @media screen and (min-width: 768px) {

                margin-top: 200px;
                margin-bottom: 200px;
            }

            .prjct-mobile-img {

                width: 100%;
                max-width: 375px;
                margin: 0 auto;
                margin-bottom: 40px;

                @media screen and (min-width: 544px) {

                    margin: 0 auto;
                }
            }
        }
    }
    .prjct-link {

        padding: 100px 0;

        @media screen and (min-width: 544px) {

            padding: 120px 0;
        }
        @media screen and (min-width: 768px) {

            padding: 140px 0;
        }
        @media screen and (min-width: 992px) {

            padding: 160px 0;
        }
        @media screen and (min-width: 1200px) {

            padding: 180px 0;
        }
    }
}
