/*  Prjct-6 Styles
    =================================================== */

#prjct-art {

    .prjct-img-1 {

        margin-bottom: 40px;

        @media screen and (min-width: 768px) {

            margin-bottom: 200px;
        }
    }
    .prjct-img-2 {

        margin-bottom: 80px;

        @media screen and (min-width: 768px) {

            margin-bottom: 200px;
        }
    }
}
