/////////////////////////////////////
// MAIN
/////////////////////////////////////

// FONTS
// -------------------------------------------------------------

@import
  url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&amp;display=swap');

// VARIABLES
// -------------------------------------------------------------

@import
  'variables';


// FUNCTIONS
// -------------------------------------------------------------

@import
  'functions/strip-unit';

// MIXINS
// -------------------------------------------------------------

@import
  'mixins/font-face',
  'mixins/rwd-scale',
  'mixins/grid-scale';

// BASE
// -------------------------------------------------------------

@import
  'styles/base',
  'styles/interaction',
  'styles/document',
  'styles/layout',
  'styles/media',
  'styles/spacing',
  'styles/theme';

// SNIPPETS
// -------------------------------------------------------------

@import
  '../snippets/navigation/inc',
  '../snippets/component/block-graph-contribution/style';
