/////////////////////////////////////
// VARIABLES
/////////////////////////////////////

// FONT
// -------------------------------------------------------------

$global-font-base-size: 16;

// LAYOUT
// -------------------------------------------------------------

// WIDTH
$document-max: 2560px;

// PADDING
$container-padding-xxs: 8px;
$container-padding-xs: 16px;
$container-padding-s: 24px;
$container-padding-m: 32px;
$container-padding-l: 40px;
$container-padding-xl: 48px;
$container-padding-xxl: 64px;

// BREAKPOINTS
$breakpoint-xxs: 375px;
$breakpoint-xs: 480px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-max: 1600px;

// COLOR
// -------------------------------------------------------------

$c-white: #fff;

$c-1: #c8cbd2;
$c-2: #c2c5cc;
$c-3: #f3f3f5;
$c-4: #b4b7bf;

$c-bg: #c8cbd2;

$c-headline: #fff;
$c-text: #18181a;
$c-link: #fbf88f;
$c-hover: #18181a;

$c-nav-link: #c8cbd2;
$c-nav-hover: #18181a;
$c-nav-active: #61616b;
$c-nav-bg: #fff;

$c-btn-link: #18181a;
$c-btn-hover: #f8f7cb;

$c-ico-link: #fff;
$c-ico-hover: #18181a;

$c-bg-object: #fff;
