////////////////////////////////////////////////////////////////////////////////
// VARIABLES
////////////////////////////////////////////////////////////////////////////////

// FONT
// -------------------------------------------------------------

$global-font-base-size: 16;

// LAYOUT
// -------------------------------------------------------------

// WIDTH
$global-document-max-width: 2560px;

$global-container-width-m: 768px;
$global-container-width-l: 992px;
$global-container-width-xl: 1200px;
$global-container-width-xxl: 1400px;

// PADDING
$global-container-padding-s: 16px;
$global-container-padding-m: 24px;
$global-container-padding-l: 32px;

// GRID
$global-gutter-width: 2rem;

// BREAKPOINTS
$breakpoint-xxs: 375px;
$breakpoint-xs: 480px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// COLOR
// -------------------------------------------------------------

$c-white: #fff;

$c-1: #c8cbd2;
$c-2: #c2c5cc;
$c-3: #f3f3f5;
$c-4: #b4b7bf;

$c-bg: #c8cbd2;

$c-headline: #fff;
$c-text: #18181a;
$c-link: #fbf88f;
$c-hover: #18181a;

$c-nav-link: #c8cbd2;
$c-nav-hover: #18181a;
$c-nav-active: #61616b;
$c-nav-bg: #fff;

$c-btn-link: #18181a;
$c-btn-hover: #f8f7cb;

$c-ico-link: #fff;
$c-ico-hover: #18181a;

$c-bg-object: #fff;
