// VARIABLES

// FONT
$global-font-base-size: 16;

// PADDING
$container-padding-xxs: 8px;
$container-padding-xs: 16px;
$container-padding-s: 24px;
$container-padding-m: 32px;
$container-padding-l: 40px;
$container-padding-xl: 48px;
$container-padding-xxl: 64px;

// BREAKPOINTS
$breakpoint-xxs: 375px;
$breakpoint-xs: 480px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-max: 1600px;

// WIDTH
$container-max: $breakpoint-max + ($container-padding-xxl * 2);

// COLOR
:root {
  --c-white: #fff;
  --c-bg: #c8cbd2;
  --c-heading: #fff;
  --c-text: #18181a;
  --c-highlight: #fbf88f;
  --c-nav-link: #c8cbd2;
}
