/////////////////////////////////////
//  MIXIN-GRID-SCALE
/////////////////////////////////////

@mixin grid-scale(
  $columns,
  $alignment: flex-start,
  $gutter-h: $global-gutter-width,
  $gutter-v: $global-gutter-width
) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $alignment;
  width: 100%;

  > * {
    @if unitless($gutter-h) {
      $gutter-h: $gutter-h * 1rem;
    }

    @if unitless($gutter-v) {
      $gutter-v: $gutter-v * 1rem;
    }

    width: calc((100% / #{$columns}) -
    (#{$columns - 1} / #{$columns} * #{$gutter-h}));

    &:nth-child(n) {
      margin-right: $gutter-h;
      margin-top: 0;
    }

    &:nth-child(1n + #{$columns + 1}) {
      margin-top: $gutter-v;
    }

    &:nth-child(#{$columns}n) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin reset-grid {
  display: block;

  > * {
    width: auto;

    &:nth-child(n) {
      margin-right: 0;
      margin-top: 0;
    }
  }
}
