$slideDotsOverlay = true // Should the navigation dots overlay the media?
$slideDotsOffset = 2rem // Offset of the dots to the edges of the slider
$slideDotsVerticalPosition = 'bottom' // Defines if the dots should be on top/bottom of slider 'top' | 'bottom'
$slideDotsSize = .5rem // Size of a dot
$slideDotColor = #fff // Color of the dot

&-prevButton,
&-nextButton
  background: transparent
  border: 0
  cursor: pointer
  margin: auto
  opacity: 1
  outline: 0
  padding: 0
  position: absolute
  top: 50%
  visibility: visible
  z-index: 2

  &:focus
    outline-color: rgba(255, 255, 255, .35)

  &:hover,
  &:focus
    opacity: .85

  +below('m')
    top: calc(100vw * .25)

  svg
    display: block
    height: 2rem
    position: relative
    width: 2rem

    +below('l')
      height: 1.5rem
      width: 1.5rem

  &.slick-disabled
    opacity: 0
    visibility: hidden

&-prevButton
  left: 2.75rem
  transform: translate(-100%, -50%)

  +below('xl')
    left: 2.5rem

  +below('l')
    left: 2rem

  +below('m')
    transform: translate(-100%, 0)

&-nextButton
  right: 2.75rem
  transform: translate(100%, -50%)

  +below('xl')
    right: 2.5rem

  +below('l')
    right: 2rem

  +below('m')
    transform: translate(100%, 0)

.slick-dots
  line-height: 0
  list-style: none
  margin: 0
  padding: 0
  pointer-events: none
  text-align: center
  width: 100%

  &-isHidden
    visibility: hidden

  if $slideDotsOverlay
    left: 0
    position: absolute

    if $slideDotsVerticalPosition == 'top'
      top: $slideDotsOffset
    else
      bottom: $slideDotsOffset

  +below('l')
    if $slideDotsOverlay
      left: 0
      position: absolute

      if $slideDotsVerticalPosition == 'top'
        top: 1.5rem
      else
        bottom: 1.5rem

  +below('m')
    if $slideDotsOverlay
      left: 0
      position: absolute

      if $slideDotsVerticalPosition == 'top'
        top: 1.25rem
      else
        bottom: 1.25rem

  +below('xs')
    if $slideDotsOverlay
      left: 0
      position: absolute

      if $slideDotsVerticalPosition == 'top'
        top: 1rem
      else
        bottom: 1rem

.slick-dots > li
  display: inline-block
  margin: 0 .5rem // Spacing between dot

.slick-dots > li button
  background: #ccc
  border: 0
  border-radius: 50%
  color: transparent
  cursor: pointer
  display: block
  height: $slideDotsSize
  outline: 0
  padding: 0
  pointer-events: all
  width: $slideDotsSize

  +below('s')
    background: #666

.slick-dots > li.slick-active button
  background: $slideDotColor
