// NAVIGATION-MAIN
// =============================================================
// stylelint-disable selector-max-compound-selectors

[is='flynt-navigation-main'] {
  $component: &;

  $nav-height-main: 80px;
  $nav-height-header: 48px;

  display: none;
  opacity: 0;
  visibility: hidden;

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: block;
  }

  &.headroom {
    $block: 'headroom';

    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    transition: transform 300ms ease-out, opacity 200ms;
    visibility: visible;
    width: 100%;
    z-index: 99;

    &-isUnpinned {
      transform: translateY(-($nav-height-main + $nav-height-header));
    }

    &-isNotTop.#{$block}-isPinned {
      transform: translateY(-$nav-height-header);
    }
  }

  .navigationMain {
    &-header {
      height: $nav-height-header;
    }

    &-main {
      height: $nav-height-main;

      &::after {
        background-color: $color-gray-hover;
        content: '';
        display: block;
        height: 1px;
        margin-top: -1px;
        width: 100%;
      }
    }

    .wrapper {
      width: 100%;

      &--header {
        background-color: rgba($color-off-black, 1);
        height: 100%;
      }

      &--main {
        background-color: #fff;
      }
    }

    .container {
      $block: 'container';

      @include center($padding: 0);
      height: 100%;

      @media (min-width: $breakpoint-tablet) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (min-width: 1120px) {
        padding-left: 24px;
        padding-right: 24px;
      }

      @media (min-width: $breakpoint-desktop) {
        padding-left: 32px;
        padding-right: 32px;
      }

      @media (min-width: $breakpoint-desktop-wide) {
        padding-left: $container-padding-tablet;
        padding-right: $container-padding-tablet;
      }

      @media (min-width: $breakpoint-desktop-wide + $container-padding-desktop) {
        padding-left: $container-padding-desktop;
        padding-right: $container-padding-desktop;
      }

      @at-root {
        #{$component} .navigationMain-main [data-level='1'] + .item-content > .#{$block} {
          @media (min-width: $breakpoint-tablet) {
            padding-left: 0;
            padding-right: 0;
          }

          @media (min-width: $breakpoint-desktop-wide) {
            padding-left: $container-padding-tablet - 32px;
            padding-right: $container-padding-tablet - 32px;
          }

          @media (min-width: $breakpoint-desktop-wide + $container-padding-desktop) {
            padding-left: $container-padding-desktop - 32px;
            padding-right: $container-padding-desktop - 32px;
          }
        }
      }
    }

    .columns {
      display: flex;

      &--header {
        align-items: center;
        height: 100%;
        justify-content: flex-start;
      }

      &--main {
        align-items: center;
        height: 100%;
        justify-content: flex-start;
      }
    }

    .column {
      $block: 'column';

      display: flex;
      height: 100%;

      @at-root {
        #{$component} .columns--header > .#{$block} {
          align-items: center;
        }

        #{$component} .columns--main > .#{$block} {
          align-items: center;
        }
      }

      &--menu {
        flex-grow: 0;
        margin: 0 0 0 1.5rem;

        @media (min-width: $breakpoint-tablet-horizontal) {
          margin-left: 1.75rem;
        }

        @media (min-width: 1200px) {
          margin-left: 2.25rem;
        }

        @media (min-width: $breakpoint-desktop-wide + $container-padding-desktop) {
          margin-left: 2.875rem;
        }
      }

      &--side {
        margin-left: auto;
        margin-right: 1rem;

        @media (min-width: 1200px) {
          margin-right: 1.25rem;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      &--cta {
        .button {
          padding: 9px 16px;
        }

        .item {
          &:last-child {
            padding-right: 0;
          }
        }
      }

      &--search {
        flex-grow: 0;
      }

      &--language {
        margin-left: auto;

        .language {
          &-link {
            font-size: rem(11px);
          }
        }
      }

      &--quicklink {
        flex-grow: 1;
      }
    }

    .list {
      $block: 'list';

      @include reset-list;

      @at-root {
        #{$component} .column--menu > .#{$block}--1 {
          display: flex;
          height: 100%;
        }

        #{$component} .column--side > .#{$block}--1 {
          display: flex;
        }

        #{$component} .column--menu .container > .#{$block}--2 {
          display: flex;
        }
      }
    }

    .item {
      $block: 'item';

      @at-root {
        #{$component} .column--menu .list--1 > .#{$block} {
          align-items: center;
          display: flex;
          height: 100%;
          justify-content: center;
        }

        #{$component} .column--menu .list--2 > .#{$block} {
          border-right: 1px solid $color-gray-hover;
          flex-basis: 20%;
          flex-grow: 0;
          flex-shrink: 0;
          padding: 2.5rem 0 2.625rem;

          &:last-child {
            border-right: 1px solid transparent;
          }
        }

        #{$component} .columns .column--menu .list--3 > .#{$block} {
          margin-top: 1px;

          &:first-child {
            margin-top: 0;
          }
        }
      }

      &-toggle,
      &-link {
        text-decoration: none;

        &:hover {
          cursor: pointer;
        }
      }

      &-content {
        $block: 'item-content';

        @at-root {
          #{$component} .column--menu .list--1 > .item > .#{$block} {
            background-color: #fff;
            box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
            left: 0;
            position: absolute;
            top: rem(128px);
            width: 100%;
            z-index: -1;
          }

          #{$component} .column--menu .list--2 > .item > .#{$block} {
            margin-top: 1.5rem;
          }
        }

        &[aria-hidden='true'] {
          display: none;
        }

        &[aria-hidden='false'] {
          display: block;
        }
      }
    }

    [data-level='1'] {
      $block: '[data-level="1"]';

      font-weight: 800;
      text-decoration: none;

      @at-root {
        #{$component} .navigationMain-header #{$block} {
          color: #fff;
          font-size: rem(12px);
        }

        #{$component} .navigationMain-main .column--menu #{$block} {
          color: $color-metal;
          font-size: rem(12px);
          line-height: $nav-height-main;
          padding: 0 1rem;
          transition: color 200ms ease;

          @media (min-width: 1200px) {
            font-size: rem(13px);
            padding: 0 1.25rem;
          }

          &:focus {
            outline: 1px dotted $color-gray-dark;
            outline-offset: -1px;
          }

          &[aria-expanded='true'],
          &:focus,
          &:hover {
            color: $color-accent;
            position: relative;

            &::after {
              background-color: $color-accent;
              bottom: 0;
              content: '';
              display: block;
              height: 2px;
              left: 50%;
              position: absolute;
              transform: translate(-50%, 0);
              width: 25%;
            }
          }
        }

        #{$component} .navigationMain-main .column--side {
          #{$block} {
            color: $color-gray-dark;
            display: block;
            font-size: rem(12px);
            font-weight: 700;
            line-height: $nav-height-main;
            padding: 0 0.75rem;
            transition: color 200ms ease;

            @media (min-width: 1200px) {
              padding: 0 0.875rem;
            }

            @media (min-width: $breakpoint-desktop-wide) {
              padding: 0 1rem;
            }

            &:focus {
              outline: 1px dotted $color-gray-dark;
              outline-offset: -1px;
            }

            &:focus,
            &:hover {
              color: $color-metal;
            }
          }

          &:last-child #{$block}:last-child {
            padding-right: 0;
          }
        }
      }
    }

    [data-level='2'] {
      $block: '[data-level="2"]';

      color: $color-gray-dark;
      display: block;
      font-size: rem(12px);
      font-weight: 800;
      letter-spacing: 0.6px;
      line-height: 1;
      text-decoration: none;
      text-transform: uppercase;

      @at-root {
        #{$component} .navigationMain-main #{$block} {
          padding-left: 20px;

          @media (min-width: 1120px) {
            padding-left: 24px;
          }

          @media (min-width: $breakpoint-desktop) {
            padding-left: 32px;
          }

          &:hover {
            cursor: default;
          }
        }
      }
    }

    [data-level='3'] {
      color: $color-text;
      display: block;
      font-size: rem(12px);
      font-weight: 700;
      letter-spacing: 0.15px;
      line-height: 1.35;
      padding: 8px 20px;
      position: relative;
      text-decoration: none;

      @media (min-width: 1120px) {
        padding-left: 24px;
        padding-right: 24px;
      }

      @media (min-width: $breakpoint-desktop) {
        padding-left: 32px;
        padding-right: 32px;
      }

      &:focus {
        outline: 1px dotted $color-gray-dark;
      }

      &:focus,
      &:hover {
        background-color: rgba(#f5f5f5, 1);

        &::after {
          background-image: url('../Components/NavigationMain/Assets/ico-ui-chevron-small-black--right.svg');
          content: '';
          display: block;
          height: 12px;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          width: 12px;

          @media (min-width: $breakpoint-tablet-horizontal) {
            right: 10px;
          }

          @media (min-width: 1120px) {
            right: 12px;
          }

          @media (min-width: $breakpoint-desktop) {
            right: 20px;
          }
        }
      }
    }

    .search {
      height: 100%;

      &-link {
        align-items: center;
        display: flex;
        height: $nav-height-main;
        padding: 0 1.25rem;

        @media (min-width: 1200px) {
          padding: 0 1.5rem;
        }

        @media (min-width: $breakpoint-desktop-wide) {
          padding: 0 1.75rem;
        }

        &:focus {
          outline: 1px dotted $color-gray-dark;
          outline-offset: -1px;
        }

        &:focus,
        &:hover {
          svg {
            color: $color-accent;
          }
        }
      }

      svg {
        color: $color-metal;
        display: block;
      }
    }

    .quicklink {
      $block: 'quicklink';

      align-items: center;
      display: flex;
      height: 100%;
      justify-content: flex-start;
      width: 100%;

      @media (min-width: $breakpoint-tablet-horizontal) {
        justify-content: center;
      }

      @at-root {
        #{$component} .navigationMain-main [data-level='1'] + .item-content > .special .#{$block} {
          line-height: 1.125rem;

          @media (min-width: $breakpoint-tablet-horizontal) {
            justify-content: flex-start;
          }
        }
      }

      &-media {
        $block: 'quicklink-media';

        @at-root {
          #{$component} .navigationMain-main [data-level='1'] + .item-content > .special .#{$block} {
            svg {
              display: block;
            }
          }
        }
      }

      &-title,
      &-infoText,
      .button {
        margin: 0 0 0 1.25rem;

        @media (min-width: $breakpoint-tablet-horizontal) {
          margin-left: 1.5rem;
        }

        @media (min-width: $breakpoint-desktop) {
          margin-left: 2rem;
        }

        &:first-child {
          margin-left: 0;
        }
      }

      &-title,
      &-infoText {
        font-size: rem(11px);
        line-height: 1.15;
      }

      &-title {
        $block: 'quicklink-title';

        color: #fff;
        font-weight: 800;
        opacity: 1;
        position: relative;
        text-decoration: none;
        transition: opacity 300ms;

        &:focus {
          outline: 1px dotted $color-gray-dark;
          outline-offset: 1px;
        }

        &:hover {
          opacity: 0.65;
        }

        @at-root {
          #{$component} .navigationMain-header .#{$block}::before {
            background-image: url('../Components/NavigationMain/Assets/ico-ui-chevron-small-white--right.svg');
            background-position: center center;
            background-size: 9px 9px;
            content: '';
            display: block;
            height: 10px;
            left: -9px;
            position: absolute;
            top: 50%;
            transform: translate(0, -49%);
            width: 10px;
          }

          #{$component} .navigationMain-main [data-level='1'] + .item-content > .special .#{$block} {
            color: $color-text;
            display: block;
            font-size: rem(12px);
            margin: 0 0 0 16px;
            opacity: 1;
            text-transform: uppercase;
            transition: opacity 300ms;

            &:hover {
              opacity: 0.65;
            }

            &:first-child {
              margin-left: 0;
            }
          }
        }
      }

      &-infoText {
        $block: 'quicklink-infoText';

        color: $color-gray;

        @at-root {
          #{$component} .navigationMain-main [data-level='1'] + .item-content > .special .#{$block} {
            color: $color-gray-dark;
            display: block;
            font-size: rem(12px);
            font-weight: 600;
            line-height: 1.15;
            margin: 0 0 0 20px;

            &:first-child {
              margin-left: 0;
            }
          }
        }
      }

      .button--ghost {
        border-color: rgba(#fff, 0.15);
        font-size: rem(10px);
        padding: 0.5em 2rem 0.325em 1.125rem;

        &:hover,
        &:focus {
          border-color: rgba(#fff, 0.25);
          box-shadow: none;
          color: rgba(#fff, 0.5);
          transform: translateY(0);
        }
      }

      @at-root {
        #{$component} .navigationMain-main [data-level='1'] + .item-content > .special {
          border-top: 1px solid $color-gray-hover;
          padding: 1.75rem 0;
          width: 100%;
        }
      }
    }
  }

  @import 'Partials/Brand/style';
  @import 'Partials/Language/style';
}
