<ul class="language language--list">
  {% for language in languages.set %}
    <li class="language-item">
      {% if language.code == languages.current %}
        <span class="language-link language-link-isActive">
          {{- language.code -}}
        </span>
      {% else %}
        <a class="language-link" href="{{ language.url }}">
          {{- language.code -}}
        </a>
      {% endif %}
    </li>
    {% if loop.first %}
      <li class="divider"></li>
    {% endif %}
  {% endfor %}
</ul>
