// FONT
// -------------------------------------------------------------

@include font-face('Simplon', 'simplon/simplonbp-light-webfont', '300', 'normal');
@include font-face('Simplon', 'simplon/simplonbp-lightitalic-webfont', '300', 'italic');
@include font-face('Simplon', 'simplon/simplonbpregular-webfont', 'normal', 'normal');
@include font-face('Simplon', 'simplon/simplonbpregular-italic-webfont', 'normal', 'italic');
@include font-face('Simplon', 'simplon/simplonbp-medium-webfont', '600', 'normal');
@include font-face('Simplon', 'simplon/simplonbp-mediumitalic-webfont', '600', 'italic');
@include font-face('Simplon', 'simplon/simplonbp-bold-webfont', '700', 'normal');
@include font-face('Simplon', 'simplon/simplonbp-bolditalic-webfont', '700', 'italic');

/*  Layout Styles
    =================================================== */

html {
  main {
    padding-bottom: 140px;
    padding-top: 60px;

    @include media-breakpoint-up(sm) {
      padding-bottom: 180px;
      padding-top: 80px;
    }

    @include media-breakpoint-up(md) {
      padding-bottom: 200px;
      padding-top: 100px;
    }
  }
}

body {
  background-color: $c-bg;

  img {
    height: auto;
    width: 100%;
  }
}

/*  Typography
    =================================================== */

html {
  font-size: ms(0);
  letter-spacing: -1.25px;
  line-height: 40px;

  @media screen and (min-width: 544px) {
    letter-spacing: 0;
  }
}

body {
  color: $c-text;
  font-family: 'Simplon', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  color: $c-headline;
  font-family: 'Simplon';
  font-style: inherit;
  font-weight: 600;
  margin: 0;
}

h4,
h5 {
  letter-spacing: -1px;
  margin: 0;
}

h1 {
  font-size: ms(2);
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 58px;
  padding: 40px 0;

  @include media-breakpoint-up(sm) {
    font-size: ms(2);
    line-height: 58px;
    padding: 40px 0;
  }

  @include media-breakpoint-up(md) {
    font-size: ms(3);
    letter-spacing: -6px;
    line-height: 90px;
    padding: 60px 0;
  }

  @include media-breakpoint-up(lg) {
    font-size: ms(4);
    letter-spacing: -10px;
    line-height: 140px;
    padding: 80px 0;
  }

  @include media-breakpoint-up(xl) {
    font-size: ms(5);
    letter-spacing: -12px;
    line-height: 220px;
    padding: 80px 0;
  }
}

h2 {
  font-size: ms(0);
  letter-spacing: -1px;
  line-height: 20px;
  padding: 20px 0 30px;

  @include media-breakpoint-up(sm) {
    font-size: 30px;
    letter-spacing: -2px;
    line-height: 40px;
  }

  @include media-breakpoint-up(md) {
    font-size: ms(1);
    letter-spacing: -3px;
    line-height: 60px;
    padding: 30px 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 40px 0 50px;
  }

  @include media-breakpoint-up(xl) {
    padding: 30px 0 40px;
  }
}

h3 {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 20px;
  padding: 20px 0 10px;

  @include media-breakpoint-up(sm) {
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30px;
    padding: 10px 0;
  }

  @include media-breakpoint-up(md) {
    padding: 15px 0 5px;
  }
}

h4 {
  font-size: ms(0);
  line-height: 20px;
  padding: 20px 0;

  @include media-breakpoint-up(sm) {
    line-height: 40px;
  }
}

ul,
ol {
  color: $c-text;
  list-style-position: inside;
  margin: 0;
  padding: 20px 0;
}

p {
  color: $c-text;
  font-size: 20px;
  margin: 0;
  padding: 0 0 40px;

  @include media-breakpoint-up(sm) {
    font-size: 23px;
  }

  @include media-breakpoint-up(md) {
    font-size: 19px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 23px;
  }
}

.lead {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 42px;
  padding: 0 0 30px;

  @include media-breakpoint-up(sm) {
    font-size: 32px;
    line-height: 50px;
    padding: 0 0 50px;
  }

  @include media-breakpoint-up(md) {
    font-size: 46px;
    line-height: 65px;
    padding: 0 0 60px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 58px;
    line-height: 80px;
    padding: 0 0 70px;
  }

  @include media-breakpoint-up(xl) {
    padding: 0 0 90px;
  }
}

a {
  color: $c-link;
}

/*  Icons
    =================================================== */

.ico {
  fill: currentColor;
}

#ico-menu {
  color: $c-ico-link;
  position: relative;
  width: 12px;
  z-index: 999;
}

#ico-link {
  color: $c-ico-link;
}

#ico-dav {
  color: $c-bg-object;
  position: relative;
  z-index: -999;
}

#ico-universal {
  color: $c-bg-object;
  position: relative;
  z-index: -999;
}
