/////////////////////////////////////
// BASE
/////////////////////////////////////

// FONT
// -------------------------------------------------------------

@include font-face('Alpha', 'alpha/alpha-light', '300', 'normal', false);
@include font-face('Alpha', 'alpha/alpha', 'normal', 'normal', false);
@include font-face('Alpha', 'alpha/alpha-medium', '600', 'normal', false);

// ROOT
// -------------------------------------------------------------

html {
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

body {
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
