////////////////////////////////////////////////////////////////////////////////
// DOCUMENT
////////////////////////////////////////////////////////////////////////////////

.app {
  position: relative;

  body {
    margin: 0;
    max-width: none;
    padding: 0;
  }
}

.document {
  &-layout {
    padding: 48px 0;
  }
}
