////////////////////////////////////////////////////////////////////////////////
// INTERACTION
////////////////////////////////////////////////////////////////////////////////

.btn {
  appearance: none;
  border: 0;
  border-radius: 0;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;

  &:-moz-focusring {
    color: transparent;
    outline: 0;
    text-shadow: 0 0 0 #000;
  }

  &:focus {
    box-shadow: none;
    outline: 0;
  }

  &:hover {
    #ico-menu {
      color: #fff;
    }

    #ico-link {
      color: $c-ico-hover;
    }
  }
}

.btn-circle {
  background-color: $c-btn-link;
  border-radius: 50%;
  display: block;
  height: 100px;
  margin: 0 auto;
  padding: 28px;
  width: 100px;

  &:hover {
    background-color: $c-btn-hover;
  }
}

.btn-normal {
  background-color: $c-btn-link;
  color: $c-ico-link;
  display: block;
  font-size: 16px;
  height: 60px;
  margin: 40px 0;
  width: 140px;

  &:hover {
    background-color: $c-btn-hover;
    color: $c-ico-hover;
  }
}

/*  Types
    =================================================== */

#btn-menu {
  background-color: transparent;
  height: 20px;
}
