/////////////////////////////////////
// INTERACTION
/////////////////////////////////////

a,
button {
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

// BUTTON
// -------------------------------------------------------------

.button {
  appearance: none;
  background: #fbf88f;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1;
  outline: 0;
  padding: 0;
  position: relative;
  text-align: center;
  transition: background-color 200ms ease-in-out;
  user-select: none;

  &:hover,
  &:focus,
  &:active {
    background: #18181a;

    svg {
      fill: #fff;
    }
  }

  // &::after {
  //   background: center / 24px 24px no-repeat;
  //   border-radius: 100em;
  //   bottom: 0;
  //   content: '';
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  //   width: 48px;
  // }

  &__circle {
    border-radius: 50%;
    display: block;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80px;

    svg {
      fill: #18181a;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

// BADGE
// -------------------------------------------------------------

.badge {
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.15;
  padding: 0.5625rem 1rem;
  text-align: center;
  transition: background-color 250ms, border-color 250ms;
  vertical-align: middle;
  white-space: nowrap;

  @at-root a#{&} {
    &,
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &_solid {
    background-color: $c-btn-link;
    border-color: $c-btn-link;

    @at-root a#{&} {
      color: $c-btn-link;

      &:hover,
      &:focus {
        background-color: $c-btn-hover;
        border-color: $c-btn-hover;
        color: $c-hover;
      }
    }
  }

  &_outline {
    background-color: rgba($c-white, 0);
    border-color: $c-white;

    @at-root a#{&} {
      color: $c-white;

      &:hover,
      &:focus {
        background-color: $c-btn-hover;
        border-color: $c-btn-hover;
        color: $c-hover;
      }
    }
  }

  &_pill {
    border-radius: 10rem;
    padding-left: 1.625rem;
    padding-right: 1.625rem;
  }

  &_is_active {
    background-color: $c-btn-hover;
    border-color: $c-btn-hover;
    color: $c-hover;
  }
}

// FORM
// -------------------------------------------------------------

label,
input,
select,
textarea,
option {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.25;

  &::placeholder {
    color: #999;
    font-size: inherit;
    font-weight: 400;
  }

  &:focus {
    outline: 0;
  }
}

// FIELD
$input-padding-vertical: 5px;
$input-padding-horizontal: 10px;
$input-padding: ($input-padding-vertical + 1px) $input-padding-horizontal $input-padding-vertical $input-padding-horizontal;

input:not([type='checkbox']):not([type='radio']),
select,
textarea {
  appearance: none;
  background-color: transparent;
  border: 1px solid $c-white;
  border-radius: 0;
  color: $c-white;
  display: block;
  font-size: 0.875rem;
  line-height: 1.25;
  padding: $input-padding;

  &:hover,
  &:focus {
    border-color: $c-btn-hover;
    color: $c-white;
    cursor: pointer;
  }
}
