/////////////////////////////////////
// LAYOUT
/////////////////////////////////////

[is|='layout'] {
  > section {
    > [class$='__header'],
    > [class$='__main'],
    > [class$='__footer'] {
      margin: 1.75rem 0 0;

      &:first-child {
        margin-top: 0;
      }

      @media (min-width: $breakpoint-s) {
        margin-top: 2rem;
      }
    }
  }
}

[is='layout-home'] {
  .home {
    &__main,
    &__footer {
      margin: 5rem 0 0;

      @media (min-width: $breakpoint-s) {
        margin-top: 8rem;
      }

      @media (min-width: $breakpoint-l) {
        margin-top: 10rem;
      }

      @media (min-width: $breakpoint-max) {
        margin-top: 12rem;
      }
    }

    .list {
      $block: 'list';
      column-gap: 1.125rem;
      display: grid;

      &_featured,
      &_projects {
        grid-template-columns: 1fr 1fr;
      }

      &_social {
        @media (min-width: $breakpoint-xxs) {
          grid-template-columns: 1fr 1fr;
        }
      }

      @media (min-width: $breakpoint-m) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media (min-width: $breakpoint-l) {
        column-gap: 1.5rem;
      }

      @media (min-width: $breakpoint-xxl) {
        column-gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      &__item {
        margin: 3rem 0 0;

        &:first-child {
          margin-top: 0;
        }

        @media (min-width: $breakpoint-s) {
          margin-top: 4rem;
        }

        @media (min-width: $breakpoint-l) {
          margin-top: 6rem;
        }

        @media (min-width: $breakpoint-max) {
          margin-top: 8rem;
        }
      }

      &_featured {
        .#{$block}__item {
          &:first-child {
            grid-column-end: 3;
            grid-column-start: 1;

            @media (min-width: $breakpoint-xs) {
              grid-column-end: 2;
              grid-column-start: 1;
            }

            @media (min-width: $breakpoint-m) {
              grid-column-end: 2;
              grid-column-start: 1;
              grid-row-end: 3;
              grid-row-start: 1;
            }

            @media (min-width: $breakpoint-xxl) {
              grid-column-end: 3;
            }
          }

          &:nth-child(3) {
            @media (min-width: $breakpoint-xs) {
              grid-column-end: 3;
              grid-column-start: 2;
            }

            @media (min-width: $breakpoint-m) {
              grid-column-end: auto;
              grid-column-start: auto;
            }
          }

          @media (min-width: $breakpoint-xs) {
            &:nth-child(-1n+2) {
              margin-top: 0;
            }
          }

          @media (min-width: $breakpoint-m) {
            &:nth-child(-1n+3) {
              margin-top: 0;
            }
          }

          .card {
            &_hello {
              .card__title {
                color: #fff;
                font-size: 9rem;
                line-height: 1;
                position: static;

                @media (min-width: $breakpoint-xxs) {
                  @include rwd-scale('font-size', 9rem, 12rem, 376px, 480px);
                }

                @media (min-width: $breakpoint-xs) {
                  @include rwd-scale('font-size', 5rem, 8rem, 481px, 768px);
                }

                @media (min-width: $breakpoint-m) {
                  @include rwd-scale('font-size', 6rem, 8rem, 769px, 1200px);
                }

                @media (min-width: $breakpoint-xl) {
                  @include rwd-scale('font-size', 10rem, 12rem, 1201px, 1400px);
                }

                @media (min-width: $breakpoint-xxl) {
                  @include rwd-scale('font-size', 14rem, 18rem, 1401px, 1696px);
                }
              }
            }
          }
        }
      }

      &_projects {
        .#{$block}__item {
          &:nth-child(3) {
            grid-column-end: 3;
            grid-column-start: 1;

            @media (min-width: $breakpoint-m) {
              grid-column-end: 4;
              grid-column-start: 2;
            }

            @media (min-width: $breakpoint-xxl) {
              grid-column-end: 5;
              grid-column-start: 3;
            }
          }

          &:nth-child(-1n+2) {
            margin-top: 0;
          }

          @media (min-width: $breakpoint-m) {
            &:nth-child(-1n+2) {
              margin-top: 0;
            }
          }

          @media (min-width: $breakpoint-xxl) {
            &:nth-child(-1n+3) {
              margin-top: 0;
            }
          }
        }
      }

      &_social {
        .#{$block}__item {
          &:nth-child(3) {
            grid-column-end: auto;
            grid-column-start: auto;

            @media (min-width: $breakpoint-xxl) {
              grid-column-end: 5;
              grid-column-start: 4;
            }
          }

          @media (min-width: $breakpoint-xxs) {
            &:nth-child(-1n+2) {
              margin-top: 0;
            }
          }

          @media (min-width: $breakpoint-m) {
            &:nth-child(-1n+3) {
              margin-top: 0;
            }
          }
        }

        .social {
          background-color: #fff;
          display: block;
          height: 0;
          padding-bottom: calc(9 / 21 * 100%);
          position: relative;

          &__link {
            @include rwd-scale('font-size', 1.125rem, 1.5625rem, 375px, 1400px);
            color: $c-bg;
            font-weight: 600;
            height: 100%;
            left: 1.125rem;
            position: absolute;
            text-decoration: none;
            top: 1.125rem;
            z-index: 22;
          }

          @media (min-width: $breakpoint-xxs) {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }

          @media (min-width: $breakpoint-s) {
            grid-template-columns: 1fr 1fr 1fr;
          }
        }
      }
    }

    .card {
      &__link {
        display: block;
        position: relative;
        text-decoration: none;
      }

      &__title {
        @include rwd-scale('font-size', 1.125rem, 1.5625rem, 375px, 1400px);
        font-weight: 600;
        left: 1.125rem;
        position: absolute;
        top: 1.125rem;
        z-index: 22;
      }

      .image {
        padding-bottom: calc(9 / 21 * 100%);
      }

      &_vertical {
        .image {
          padding-bottom: calc(8 / 5 * 100%);
        }
      }

      &_horizontal {
        .image {
          padding-bottom: calc(2 / 3 * 100%);
        }
      }

      &_square {
        .image {
          padding-bottom: 100%;
        }
      }
    }
  }
}

[is='layout-project'] {
  .project {
    &__title {
      // style
    }

    &__img {
      // style
    }

    &_dav {
      // style
    }

    &_universal {
      // style
    }

    &_behance {
      // style
    }

    &_taikonauts {
      // style
    }

    &_client {
      // style
    }

    &_artuner {
      // style
    }

    &_ifurn {
      // style
    }
  }
}

[is='layout-about'] {
  .about {
    &__title {
      // style
    }

    &__intro {
      // style
    }

    &__experience {
      // style
    }

    &__skills {
      // style
    }

    &__skill {
      // style
    }
  }
}
