/////////////////////////////////////
// MEDIA
/////////////////////////////////////

img {
  display: block;
  width: 100%;
}

[is='layout-home'] {
  .image {
    display: block;
    height: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    &__tag {
      display: block;
      height: 100%;
      left: 0;
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 0;
      width: 100%;

      @media (min-width: $breakpoint-max + (2 * $container-padding-xxl)) {
        height: auto;
      }
    }
  }
}
