/*  General
    =================================================== */

.btn {

    cursor: pointer;
    border: 0;

    padding: 0;

    &:focus {

        outline: 0;
    }
    &:hover {

        #ico-menu {

            color: $c-ico-link;
        }
        #ico-link {

            color: $c-ico-hover;
        }
    }
}
.btn-circle {

    background-color: $c-btn-link;
    border-radius: 50%;
    display: block;

    width: 100px;
    height: 100px;
    padding: 28px;
    margin: 0 auto;

    &:hover {

        background-color: $c-btn-hover;
    }
}

/*  Types
    =================================================== */

#btn-menu {

    background-color: transparent;

    height: 20px;
    margin-left: -6px;
}
