/*  General
    =================================================== */

.ico {

    fill: currentColor;
}

/*  Types
    =================================================== */

#ico-menu {

    color: $c-ico-link;

    width: 12px;

    position: relative;
    z-index: 999;
}
#ico-link {

    color: $c-ico-link;
}
#ico-dav {

    color: $c-bg-object;

    position: relative;
    z-index: -999;
}
#ico-universal {

    color: $c-bg-object;

    position: relative;
    z-index: -999;
}
