&-imageItem
  margin: 0

  &::after
    content: ''
    display: block
    height: 0
    width: 100%

  /.sliderMediaSlider-pageHeader
    .sliderMedia-imageItem::after
      padding-bottom: calc(1 / 2 * 100%)

  /.sliderMediaSlider-content:not(.sliderMediaSlider-pageHeader)
    .sliderMedia-imageItem::after
      padding-bottom: calc(9 / 16 * 100%)

&-imageTag
  display: block
  height: auto
  left: 0
  position: absolute
  width: 100%
  z-index: 5

&--imageTop
  top: 0

&--imageCenter
  top: 50%
  transform: translateY(-50%)

&--imageBottom
  bottom: 0
